<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>

      <nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
        <div class="container">

                <a href="{{ path('default') }}" class="navbar-brand">
                <!-- Logo Image -->
                <img src="https://res.cloudinary.com/mhmd/image/upload/v1557368579/logo_iqjuay.png" width="45" alt="" class="d-inline-block align-middle mr-2">
                <!-- Logo Text -->
                <span class="text-uppercase font-weight-bold">Company</span>
            </a>

            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="{{ path('default') }}" class="nav-link">Home <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                    {% if app.user %}
                    <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link">Logout {{ app.user.username }}</a></li>
                    {% else %}
                    <li class="nav-item"><a href="{{ path('app_register') }}" class="nav-link">Register</a></li>
                    <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
        {% block body %}

        {% endblock %}
    </body>
</html>
